.container{
    justify-content: center;
    display: flex;
    padding: 0px 0px 0px 0px;
    width: 100%;
}
.description{
    text-align: start;
    border: 3px solid var(--primary-color);
    min-height: 50px;
    height: auto;
    line-height: 20px;
    width: 50%;
    background-color: white;
    color:black;
    border-radius: 7px;
    padding: 7px 7px 0px 7px;
    display: inline-block;
    line-height: 25px;
    overflow-wrap: break-word;
}