.container{
    flex-direction: column;
    display: flex;
    align-items: center; 
    border: 3px solid var(--primary-color);
    min-height: 100px;
    width: 55%;
    padding: 8px 10px 3px 10px;
    background-color: white;
    border-radius: 7px;
    height: auto;
    margin-bottom: 30px;

}
:host{
    width: 100%;
    justify-content: center;
    display: flex;
}
.task-input{
    display: flex;
    height: 40px;
    width: 100%;
    border: 3px solid var(--primary-color);
    border-radius: 7px;
    line-height: 50px;
    padding-left: 1%;
    resize: vertical;
    cursor: --var(readonle);

    &:active{
        border: 3px solid var(--secondary-color) !important;
    }
    &:focus{
        border: 3px solid var(--secondary-color) !important;
        outline: none;
    }
    &:disabled{
        color:black
    }
    &-description{
        display: flex;
        line-height:20px;
        padding-top: 10px;
        min-height: 30px;
        height: auto;
        width: 100%;
        margin-top: 6px;
        margin-bottom: 6px;
        border: 3px solid var(--primary-color);
        border-radius: 7px;
        padding-left: 1%;
        font-family: Arial, Helvetica, sans-serif;
        &:active{
            border: 3px solid var(--secondary-color) !important;
        }
        &:focus{
            border: 3px solid var(--secondary-color) !important;
            outline: none;
        }
        &:disabled{
            color:black
        }
    }
}
.button-container{
    width: 100%;
}